.cascadesContainer{
  .webPlayer{
    .topPanel{
      .center{
        .contentTitlePanel{
          margin-top: 10px;
          .title{
            font-weight: bold;
            font-size: 20px;
          }
          .subtitle{
            font-size: 18px; 
          }
        }
      }
      .right{
        .topButtons{
          position: fixed;
          top: -25px;
          right: 0;
        }
      }
    }
    .overlaysContainer{
      .hideUntilCssLoaded{
        .xrayQuickView{
          position: fixed;
          top: 10px;
          left: 20px;
          .collapsibleXrayHeader{
            .xrayHeaderTitle{
              font-size: 18px;
            }
          }
          .widgetGroupView{
            .collapsibleXrayHeader{
              margin-top: 0;
            }
          }
        }
      }
      .gradientOverlay{
        background: none;
      }
      .bottomPanel{
        .infoBar{
          padding-left: 200px;
        } 
      }
      .pausedOverlay{
        .buttons{
          position: fixed;
          bottom: 23px;
          left: 52px;
          z-index: 1;
          .fastSeekBack, .pausedIcon, .playIcon, .fastSeekForward{
            width: 20px;
            height: 20px;
            margin: 0 5px;
            .svgBackground{
              max-width: none;
              width: 45px;
              height: 45px;
              top: -12px;
              left: -5px;
            }
          }
        }
      }
    }
  }
}
.atvwebplayersdk-overlays-container {
  >div:first-child{ // overlay
    background:none;
  }
  >div:nth-child(3){ 
    >div:first-child{ // header
      >div:first-child{ // header title
        margin-top: 10px;
        h1{ // title
          font-weight: bold;
          font-size: 20px;
        }
        h2{ // subtitle
          font-size: 18px;
        }
      }
    }
    >div:nth-child(2){ // player controls
      position: fixed;
      bottom: 49px;
      left: 10px;
      .atvwebplayersdk-fastseekback-button,
      .atvwebplayersdk-playpause-button,
      .atvwebplayersdk-fastseekforward-button{
        border: 10px;
        width: 35px;
        height: 35px;
        margin: 0 13px;
        +div{
          >div:first-child{
            >div:first-child{ // number 10
              position: absolute;
              top: 1px;
              left: 12px;
              font-size: 12px;
              line-height: 35px;
              width: 35px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  >div:nth-child(4){ // top controls
    >div:first-child{
      >div:nth-child(2){ 
        >div:nth-child(1){ // left controls
          position: fixed;
          top: -45px;
          left: 10px;
          .xrayHeaderTitle{
            font-size: 14px;
          }
          .xrayHeaderViewAll{
            font-size: 12px;
          }
        }
        >div:nth-child(2){ // right controls
          position: fixed;
          top: -25px;
          right: 10px;
        }
      }
    }
  }
  .atvwebplayersdk-bottompanel-container{
    padding-left: 200px;
  }
}